---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Specialties from '../components/Specialties.astro';
import Reviews from '../components/Reviews.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Specialties />
    <Reviews />
    <Gallery />
    <Contact />
  </main>
  <Footer />
</Layout>
